html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font: inherit;
}

// RESET END

body,
* {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

a {
  color: var(--link-color);
}

:root {
  --font-primary-color: #000000;
  --font-secondary-color: #333;
  --font-thirdly-color: #666;
  --bg-color: #e5eff7;
  --header-color: #73bcf7;
  --footer-color: rgb(68, 68, 68);
  --post-color: #fafdff;
  --link-color: #69acf8;
  --light-blue: rgba(84, 182, 238, 0.8);
  --blue: rgba(49, 169, 238, 0.8);
  --warning-color: rgba(253, 36, 36, 0.7);
  --light-gray: rgb(156, 156, 156);
  --border-color: #dadee1;
}
