.order_select {
  select {
    padding: 4px;
    width: 100%;
    margin-bottom: 4px;
    border-radius: 4px;
    border-color: var(--border-color);
    background: inherit;
    option {
      background: var(--bg-color);
    }

    &:focus {
      outline: none;
      border: var(--blue) solid 1px;
    }
  }
}
