.create_post_page {
  .post_wrapper {
    background: var(--post-color);
    padding: 6px;
    border-radius: 12px;
    h2 {
      padding: 4px 0;
      font-size: 18px;
      color: var(--font-secondary-color);
    }
    input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid var(--font-secondary-color);
      overflow: scroll;
      background: inherit;
    }

    .ck {
      z-index: 10;
    }

    .button_wrapper {
      width: 50%;
      display: inline-block;
      padding: 4px;
      box-sizing: border-box;
      button {
        width: 100%;
      }
    }
  }
  h1 {
    font-size: 24px;
  }
}

pre {
  background: hsla(0, 0%, 78%, 0.3);
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  color: #353535;
  direction: ltr;
  font-style: normal;
  min-width: 200px;
  padding: 1em;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
}

blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
