.login_page {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  .form_wrapper {
    background: var(--post-color);
    border-radius: 10px;
    h2 {
      font-size: 30px;
      color: var(--font-primary-color);
      text-align: center;
      padding: 20px 0;
    }
    form {
      margin: 0 auto;
      width: 350px;
      padding: 0 20px 20px 20px;
    }
  }
}
