.post_component {
  border: 1px solid var(--font-thirdly-color);
  border-radius: 12px;
  padding: 8px 8px 0 8px;
  margin-bottom: 4px;
  background: var(--post-color);

  .post_header {
    a.user {
      text-decoration: none;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--font-thirdly-color);
      padding-bottom: 4px;

      img.avatar {
        height: 20px;
        width: 20px;
        border-radius: 50%;
      }
      span.nickname {
        color: var(--font-secondary-color);
        margin: 0 6px;
      }
      span.date {
        color: var(--font-thirdly-color);
        font-size: 14px;

        &::before {
          content: "• ";
        }
      }
    }
  }

  .post_body {
    padding: 4px 0;
    a.post_link {
      text-decoration: none;
      color: var(--font-color-primary);
    }
    h3 {
      font-size: 24px;
      margin: 4px 0;
    }
    p {
      line-height: 1.2;
    }
  }

  .post_footer {
    border-top: 1px solid var(--font-thirdly-color);
    color: var(--font-secondary-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    padding: 4px 0;

    .icon {
      display: flex;
      align-items: center;
    }

    button {
      border: none;
      background-color: inherit;
      padding: 0;
      color: var(--font-secondary-color);
      cursor: pointer;
    }

    .likes {
      display: flex;
      align-items: center;
      .likes_count {
        font-size: 16px;
      }
    }
    a.comments {
      text-decoration: none;
      color: var(--font-secondary-color);
      display: flex;
      align-items: center;
      margin-left: 8px;
    }

    button.save_button {
      margin-left: 8px;
      font-weight: 500;
      font-size: 15px;
    }
  }
}

.overflow_hidden p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 16;
  line-clamp: 16;
  -webkit-box-orient: vertical;
}
