header {
  position: sticky;
  top: 0;
  background: var(--header-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 40px;
  z-index: 100;
  .logo {
    display: inline-block;
    a {
      text-decoration: none;
      h1 {
        font-size: 30px;
        padding: 5px;
        color: #fff;
      }
    }
  }
  nav.inline {
    height: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      li {
        float: left;
        height: 100%;
        vertical-align: middle;
        a {
          font-size: 18px;
          display: inline-block;
          color: white;
          text-align: center;
          padding: 11px;
          text-decoration: none;
          display: flex;
          justify-content: center;
          img {
            height: 18px;
            width: 18px;
            border-radius: 10px;
            margin-left: 4px;
          }
        }
      }
    }
  }

  nav.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    ul {
      width: 100%;
      margin: 20% auto;
      height: 80%;
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        display: flex;
        justify-content: center;
        a {
          font-size: 18px;
          display: inline-block;
          color: white;
          padding: 11px;
          text-decoration: none;
          img {
            height: 18px;
            width: 18px;
            border-radius: 10px;
            margin-left: 4px;
          }
        }
      }
    }
  }

  .menu_button {
    border: none;
    background: inherit;
    z-index: 100;
    background: transparent;
  }

  @media screen and (min-width: 785px) {
    .menu_button {
      display: none;
    }
    nav.inline {
      display: block;
    }
  }

  @media screen and (max-width: 785px) {
    nav.inline {
      display: none;
    }
    .menu_button {
      display: block;
    }
  }

  .theme_switch {
    height: 100%;
    button {
      height: 100%;
      border: none;
      background: inherit;
      cursor: pointer;
    }
  }

  .search_bar {
    margin: 4px 0;
    height: 32px;
    border: solid 1px var(--border-color);
    border-radius: 50px;
    background: var(--bg-color);
    width: 250px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        background: inherit;
        border: none;
        border-bottom: 1px solid var(--border-color);
        color: var(--font-primary-color);
        width: 90%;
        padding: 0;
        margin: 0;
        &:focus {
          outline: none;
          border: none;
        }
      }
      button {
        border: none;
        background: inherit;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 10%;
      }
    }
  }
}
