header {
  position: sticky;
  top: 0;
  background: var(--header-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 40px;
  z-index: 10;
  .logo {
    display: inline-block;
    a {
      text-decoration: none;
      h1 {
        font-size: 30px;
        padding: 5px;
        color: #fff;
      }
    }
  }
  nav.inline {
    height: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        a {
          font-size: 18px;
          display: inline-block;
          color: white;
          text-align: center;
          padding: 11px;
          text-decoration: none;
          display: flex;
          justify-content: center;
          img {
            height: 18px;
            width: 18px;
            border-radius: 10px;
            margin-left: 4px;
          }
        }
      }
    }
  }

  nav.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    ul {
      width: 200px;
      margin: 10% auto;
      height: 80%;
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        a {
          font-size: 18px;
          display: inline-block;
          color: white;
          padding: 11px;
          text-decoration: none;
          display: flex;
          justify-content: center;
          img {
            height: 18px;
            width: 18px;
            border-radius: 10px;
            margin-left: 4px;
          }
        }
      }
    }
  }

  .menu_button {
    border: none;
    background: inherit;
    z-index: 100;
    background: transparent;
  }

  @media screen and (min-width: 360px) {
    .menu_button {
      display: none;
    }
  }

  @media screen and (max-width: 360px) {
    nav.inline {
      visibility: hidden;
    }
    .menu_button {
      display: block;
    }
  }
}

main.layout {
  min-height: 100vh;

  background: var(--bg-color);
  .page_wrapper {
    padding-top: 4px;
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
}

footer {
  background: var(--footer-color);
  padding: 6px;
  text-align: center;
  color: #eee;
  * {
    padding: 0 10px;
  }
  h6 {
    display: inline-block;
  }
  a {
    color: #eee;
  }
}
