.post_page {
  h2 {
    font-size: 28px;
  }
  .admin_bar {
    width: 100%;
    .button_wrapper {
      width: 50%;
      padding: 4px;
      box-sizing: border-box;
      display: inline-block;
      button {
        width: 100%;
      }
    }
  }
}
