.user_info {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 8px 8px 0 8px;
  margin-bottom: 4px;
  background: var(--post-color);
  min-height: 110px;

  .button_wrapper {
    button {
      width: 180px;
      margin: 4px;
    }
    a {
      width: 180px;
      background-color: var(--light-blue);
      border: 1px solid var(--font-thirdly-color);
      padding: 2px;
      color: #fff;
      border-radius: 4px;
      font-size: 16px;
      display: inline-block;
      text-decoration: none;
      box-sizing: border-box;
      margin: 4px;
      text-align: center;
    }
  }

  img {
    float: left;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    margin-right: 10px;
  }
}
